.AsideMenu {
  position: fixed;
  top: 40px;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: rgb(248, 248, 248);
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  padding-top: 3em;
  transition: width 0.3s ease;
  z-index: 0;
}

.AsideMenu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.AsideMenu li {
  margin-bottom: 10px;
}

.AsideMenu a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.AsideMenu a:hover {
  background-color: rgb(227, 232, 235);
}

.icon {
  width: 24px;
  height: 24px;
  transition: color 0.3s;
  color: black;
}

.AsideMenu a:hover .icon {
  color: orangered;
}

.link-text {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  transition: color 0.3s;
}

.AsideMenu a:hover .link-text {
  color: orangered;
}

/* Адаптация — скрыть текст при узком экране */
@media (max-width: 1120px) {
  .AsideMenu {
    width: 60px;
  }

  .link-text {
    display: none;
  }

  .AsideMenu a {
    justify-content: center;
  }
}

/* Полностью скрыть aside на очень маленьком экране */
@media (max-width: 450px) {
  .AsideMenu {
    display: none;
  }
}
